.app {
  &-form {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 1.5rem;
    grid-template-areas:
      'title . .'
      'first-name middle-name last-name'
      'email confirmation-email .'
      'insurance-no . .'
      'region nationality .'
      'next-button . .';

    .form-input {
      margin: 0;
    }
    .title {
      grid-area: title;
    }

    .first-name {
      grid-area: first-name;
    }
    .middle-name {
      grid-area: middle-name;
    }
    .last-name {
      grid-area: last-name;
    }
    .email {
      grid-area: email;
    }
    .confirmation-email {
      grid-area: confirmation-email;
    }
    .insurance-no {
      grid-area: insurance-no;
    }

    .region {
      grid-area: region;
    }

    .nationality {
      grid-area: nationality;
    }

    .next-button {
      grid-area: next-button;
      max-width: 150px;
      border-radius: 30px;
      color: #980e16;
      border-color: #980e16;
      text-transform: capitalize;
      font-size: 1rem;

      &:hover {
        border-color: #980e16;
      }
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'title .'
        'first-name middle-name'
        'last-name .'
        'email confirmation-email'
        'insurance-no .'
        'region nationality'
        'next-button .';
    }

    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'first-name'
        'middle-name'
        'last-name'
        'email'
        'confirmation-email'
        'insurance-no'
        'region'
        'nationality'
        'next-button ';
    }
  }
}
