.app {
  &-header {
    border-bottom: 3px solid #980e16;
    &--logo {
      img {
        height: 40px;
      }
    }
  }

  &-view {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
  }

  &-content {
    padding-top: 30px;
  }
}
